.scoreboard {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px; 
}

.team {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.team-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.team-name {
  margin: 0 10px;
  font-size: 1rem;
}

.scores {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.team-score {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 10px;
}
